
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App
{
  text-align: center;
}
.main

{
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: black;
  color: white;
  padding: 10px;

}

 ul li
{
  display: inline;
  list-style-type: none;
  margin-left: 30px;

}

.btn button
{
  margin-left: 10px;
  padding: 5px;
}

